* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#mainCont {
    width: 400px;
    /* background-color: lightseagreen; */
    background-color: blue;   
    padding: 10px 15px 8px;
    border-radius: 5px;
}

#displayCont {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 6px;
    font-size: 35px;
    background-color: lightcyan;
    margin-bottom: 8px;
    height: 90px;
    overflow-x: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#btnsCont  {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

#btnsCont button {
    flex: 1;
    padding: 29px 31px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#btnsCont button:hover {
    background-color: rgb(71, 67, 67);
}